.table, .matrix-table {
    width: 100% !important;
}

.table-row-header, .table-data-header {
    background-color: #4183c4;
    color: #ffffff;
    font-weight: bold;
    text-align: center !important;
}

.vertical-align-top {
    vertical-align: top !important;
}

.text-align-center {
    text-align: center !important;
}

.table-row-odd {
    background-color: #ecf3f9;
}

.matrix-table, .matrix-row, .matrix-column {
    border: none !important;
    text-align: center !important;
}

.table, .table-canton, .table-row-header-group, .table-row-header, .table-data-header, .table-row, .table-data {
    border-color: #ffffff !important;
}
